*~
/*-[0-9][0-9].xml
archive.json
draft-ihlar-masque-sconepro-mediabitrate.xml
draft-ihlar-scone-masque-mediabitrate.xml
Gemfile.lock
/.gems/
*.html
/lib
/.*.mk
/node_modules/
package-lock.json
*.pdf
*.redxml
/.refcache
report.xml
*.swp
.tags
*.txt
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
